[Unit]
Description=vrün db server

[Service]
ExecStart=node srv
WorkingDirectory=/usr/share/vrün
Type=exec
User=vrundb
Environment=STATE_DIR=/mnt/crypt
Environment=PRV_HOST=TODO
