[Unit]
Description=vrün db actor

[Service]
ExecStart=node act
WorkingDirectory=/usr/share/vrün
Type=exec
User=vrundb
Environment=STATE_DIR=/mnt/crypt
StandardInput=socket
StandardOutput=journal
